*{
    padding 10px;
    margin: 0;
    
    
}
nav{
    background-color:#4fa9ff;
    height:60px;
    border-bottom: 20px solid darkblue;
}

a{
    color:#fff;
    font-size: 1.5rem;
    padding-left:2rem;
    
    
}

html{
    font-size: 16px;
    line-height: 1.6;
  
}

h1{
    Font-size:3.5rem;
    margin: 50px;
}
h2{
    font-size: 3.5rem;
    margin:50px;
    color:dodgerblue;
}

h3{
    font-size:3rem;
    color:lightblue;
    
}

h4{
    font-size:1.5rem;
    color:lightblue;
    padding:10px;

}

nav li{
    font-size: 1.5rem;   
}

p{
    font-size: 1rem;
    padding: 0.5rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    

}
header{
    box-sizing: border-box;
    width:100%;
    background-image: url("https://picsum.photos/675");
    background-position: center;
    height: 400px;
    
}


    .menu-h li{
        box-sizing: border-box;
        list-style-type: none;
         display: inline-block;
         text-align: center;
         width: 20%;
        
    }

       